
.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center; /* Устанавливаем точку увеличения в центр */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень в обычном состоянии */
}
.password-toggle:hover {
    opacity: 1;
    transform: scale(1.5) translateY(-30%); /* Увеличение при наведении,
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}
.input-wrapper {
    position: relative;
    width: 100%;
}
.password-toggle img {
    width: 23px;
    height: 23px;
}
